@import url('bootstrap');
@import url('bootstrap-icons');


/*

      TYPOGRAPHY

*/

a {

  text-decoration: none !important;
}

.btn-unstyle {

  border: none;
  background-color: #ffffff00;
}

/*
      TAGS
*/

.bcg-React {

  background-color: #61DAFB;
  color: black;
  padding-bottom: 6px;
  margin-right: 0.7rem;
}

.bcg-Express {

  background-color: #353535;
  color: white;
  padding-bottom: 6px;
  margin-right: 0.7rem;
}

.bcg-Laravel {

  background-color: #FF2D20;
  color: white;
  padding-bottom: 6px;
  margin-right: 0.7rem;
}

.bcg-Bootstrap {

  background-color: #7952B3;
  color: white;
  padding-bottom: 6px;
  margin-right: 0.7rem;
}


header {

  button {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 500;
    padding: 8px;
    transition: color 0.3s ease-in-out;
  }


  .navbar {
    width: 100%;
    position: fixed;
    z-index: 20;

    font-weight: 500;


    a {
      color: white;
      transition: color 0.3s ease-in-out;
    }

    a:hover,
    a:visited {

      color: white;
    }
  }

  .navbar.bg-nav-prod {

    background-color: rgba(225, 237, 240, 0.925);

    a,
    button {
      color: black;
      transition: color 0.3s ease-in-out;
    }
  }
}


main {

  #home {

    height: 150vh;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;



    .container {

      height: 100vh;
      padding-top: 20rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 48px;

      h1 {
        font-size: 32px;
        font-weight: 900;

        /* TESTO CON GRADIENTE*/
        /* 1. Definisci il gradiente come sfondo */
        /* background: linear-gradient(90deg, #0004ff, #e52e71); */

        /* 2. Taglia lo sfondo seguendo la forma del testo */
        /* -webkit-background-clip: text;
        background-clip: text; */

        /* 3. Rendi il colore del testo trasparente per far vedere lo sfondo sotto */
        /* -webkit-text-fill-color: transparent;
        color: transparent; */
        /* Fallback per compatibilità */

      }

      p {

        font-size: 16px;

      }

      .card {

        margin-top: 19rem;
        background-color: #0f172a;
        color: #f8fafc;
        font-size: 1.5rem;

        .profile-img {
          width: 350px;
          height: 350px;
          object-fit: cover;
          border-radius: 15%;
          margin: 0 20px 10px 0;
        }
      }

      .go-to {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;

        button {

          display: flex;
          flex-direction: column;
          align-items: center;

          border: none;
          background-color: rgba(255, 255, 255, 0);
          color: #0f172a;
          font-weight: bold;


          .bi-arrow-down {
            display: inline-block;
            animation: jump 1.5s ease-in-out infinite;
          }
        }
      }
    }

  }

  #projects {

    padding-top: 100px;

    background-color: rgb(240, 240, 240);

    h1 {

      font-size: 1.5rem;
      font-weight: 700;

    }

    .card {

      border: none;
      border-radius: 15px;

      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
      transform: translateY(0px);
      transition: transform 0.3s ease;

      .card-img-top {

        width: 100%;
        object-fit: contain;
        position: relative;
        overflow: hidden;

        img {

          width: 100%;
          position: relative;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }

      .card-body {

        .short {

          height: 100px;
          overflow: hidden;

        }
      }


    }

    .card:hover {

      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-10px);
      transition: transform 0.3s ease;

      .card-img-top {

        img {
          transform: translate(-23px -10px);
          transform: scale(130%);
          transition: transform 0.4s ease;

        }
      }
    }



  }

  #project {

    padding-top: 100px;

    .card {


      .card-img-top {

        width: 100%;
        object-fit: contain;
        overflow: hidden;

        img {

          width: 75%;
          border-radius: 15px;
        }
      }
    }
  }
}

#contacts {

  background-color: rgb(240, 240, 240);

  padding-bottom: 3rem;

  h3 {

    font-size: 16px;

  }

}


footer {}



@keyframes jump {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}



/* MEDIA QUERY */

@media screen and (min-width: 768px) {

  main {

    #home {

      .container {

        h1 {

          font-size: 40px;

        }

        p {

          font-size: 24px;

        }

        .go-to {

          font-size: 32px;

        }

      }

    }

    #projects {

      h1 {

        font-size: 3rem;

      }
    }

  }
}