@import url('bootstrap');
@import url('bootstrap-icons');


body {

  background-image: url('./assets/background.png');

}

header {

  button {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 500;
    padding: 8px;
    transition: color 0.3s ease-in-out;
  }


  .navbar {
    width: 100%;
    position: fixed;
    z-index: 20;

    font-weight: 500;

    a {
      color: white;
      transition: color 0.3s ease-in-out;
    }
  }

  .navbar.bg-nav-prod {

    background-color: rgba(225, 237, 240, 0.925);

    a,
    button {
      color: black;
      transition: color 0.3s ease-in-out;
    }
  }
}


main {

  #home {

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;

    h1 {
      font-size: 64px;
      font-weight: 900;

      /*TESTO CON GRADIENTE*/
      /* 1. Definisci il gradiente come sfondo */
      background: linear-gradient(90deg, #0004ff, #e52e71);

      /* 2. Taglia lo sfondo seguendo la forma del testo */
      -webkit-background-clip: text;
      background-clip: text;

      /* 3. Rendi il colore del testo trasparente per far vedere lo sfondo sotto */
      -webkit-text-fill-color: transparent;
      color: transparent;
      /* Fallback per compatibilità */

    }

    .go-to {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {

        display: flex;
        flex-direction: column;
        align-items: center;

        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: blue;
        font-weight: bold;


        .bi-arrow-down {
          display: inline-block;
          animation: jump 1.5s ease-in-out infinite;
        }
      }
    }
  }

  #projects {

    padding: 100px;
    height: 100vh;
    background-color: white;
  }

  .card-img-top {



    img {

      width: 100%;
    }
  }

}


footer {}



@keyframes jump {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}